
  <div class="divider"></div>
  <div class="section">
    <h5>Presentacion</h5>
    <p class="flow-text">El colegio Villa de Navalcarnero es un centro privado concertado laico, gestionado por una cooperativa de profesores y profesoras, trabajadores del Centro, que comenzó su andadura en el año 1984. Por aquel entonces, un grupo de 10 personas asumieron la creación del Centro con una sola etapa, la Educación General Básica, con un total de doce aulas y unos 300 alumnos.</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Mas de 50 a;os viviendo por y para la educacion</h5>
    <p class="flow-text">Con esfuerzo y dedicación se ha ido creciendo poco a poco.

        Así, al amparo de la normativa, se ha ido adaptando el Centro para poder impartir el segundo Ciclo de Infantil, Primaria, Secundaria y Bachillerato lo que ha supuesto la incorporación de nuevos alumnos y docentes.
        
        En la actualidad, y con más de 30 años cumplidos, contamos con todas las dependencias para las etapas de:</p>
        <ul class="center">
          <li class="flow-text">Inicial</li>
          <li class="flow-text">Primaria</li>
          <li class="flow-text">Secundaria</li>
        </ul>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Nuestra mision</h5>
    <p class="flow-text">En lo referente a nuestra labor con los alumnos y alumnas, a lo largo de su escolarización en nuestro Centro queremos que alcancen el pleno desarrollo de su personalidad en todos los aspectos de su vida, tanto personal como social.</p>
      <p class="flow-text">
          Al mismo tiempo, trabajamos para formarlos en el respeto de los derechos y libertades fundamentales, y en el ejercicio de la tolerancia y la libertad dentro de los principios democráticos de convivencia. También buscamos la preparación de nuestros alumnos y alumnas para su participación activa y responsable en la vida social y cultural de su entorno.
      </p>
        
        <p class="flow-text">
        Y además, trabajamos para que desarrollen un espíritu cooperativo y solidario, aprendiendo a resolver sus diferencias utilizando el diálogo como punto de partida en su formación integral.</p>
  </div>