<h2>Calificaciones</h2>
<div class="col s12 m4 l8" *ngIf="curso">
    <table class="striped">
      <thead>
          <tr>
              <th colspan="10">UNIDAD EDUCATIVA {{colegio[0].nombre}}<br>BOLETIN DE CALIFICACION</th>
            </tr>
            <tr>
              <td>NIVEL: {{curso.nivel}}<br>CODIGO SIE: {{colegio[0].sie}}</td>
              <td></td>
              <td colspan="4">GESTION {{curso.gestion}}</td>
              <td colspan="3">FECHA: {{date}}</td>
              <td>N: </td>
            </tr>
            <tr>
              <td colspan="7">NOMBRE COMPLETO:{{account.firstName.toUpperCase()+" "+account.lastName.toUpperCase()}}</td>
              <td colspan="3">CURSO: {{curso.grado.toUpperCase()+" DE "+curso.nivel.toUpperCase()+" "+curso.paralelo}}</td>
            </tr>
      </thead>
      <tbody>
            
      <tr>
          <td rowspan="2">ASIGNATURAS</td>
          <td colspan="5">EVALUACION CUANTITATIVA</td>
          <td colspan="4">EVALUACION CUALITATIVA</td>
        </tr>
        <tr>
          <td>1er Bim</td>
          <td>2do Bim</td>
          <td>3er Bim</td>
          <td>4to Bim</td>
          <td>Prom</td>
          <td>1er Bimestre</td>
          <td>2do Bimestre</td>
          <td>3er Bimestre</td>
          <td>4to Bimestre</td>
        </tr>
        <tr *ngFor="let nota of notas">
          <td>{{nota.materia.nombre.toUpperCase()}}</td>
          <td>{{nota.primerbimestrecuantitativo}}</td>
          <td>{{nota.segundobimestrecuantitativo}}</td>
          <td>{{nota.tercerbimestrecuantitativo}}</td>
          <td>{{nota.cuartobimestrecuantitativo}}</td>
          <td>{{(nota.primerbimestrecuantitativo+nota.segundobimestrecuantitativo+nota.tercerbimestrecuantitativo+nota.cuartobimestrecuantitativo)/4}}</td>
          <td>{{nota.primerbimestrecualitativo}}</td>
          <td>{{nota.segundobimestrecualitativo}}</td>
          <td>{{nota.tercerbimestrecualitativo}}</td>
          <td>{{nota.cuartobimestrecualitativo}}</td>

        </tr>
        <!--

        
        <tr>
          <td>COMUNICACION Y LENGUAJE</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>LENGUA EXTRANJERA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>CIENCIAS SOCIALES HIISTORIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>EDUCACION FISICA Y DEPORTES</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>EDUCACION MUSICAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ARTES PLASTICAS</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>MATEMATICA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BIOLOGIA-GEOGRAFIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>FISICA - QUIMICA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>COSMOVISIONES, FILOSOFIAS Y SOCIOLOGIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>PSICOLOGIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>VALORES, ESPIRITUALIDAD Y RELIGIONES</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>COMPUTACION</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        -->
        
        </tbody>
      </table>