<h2>Calificaciones</h2>
<div class="col s12 m4 l8">
    <table class="striped">
        <tr>
          <th colspan="10">UNIDAD EDUCATIVA SANTA MARIA<br>BOLETIN DE CALIFICACION</th>
        </tr>
        <tr>
          <td>NIVEL: SECUNDARIA<br>CODIGO SIE: XXXXX</td>
          <td></td>
          <td colspan="4">GESTION 2018</td>
          <td colspan="3">FECHA: 09/06/2018</td>
          <td>N: 30</td>
        </tr>
        <tr>
          <td colspan="7">NOMBRE COMPLETO:</td>
          <td colspan="3">CURSO: SEXTO DE SECUNTADIA "A"</td>
        </tr>
        <tr>
          <td rowspan="2">ASIGNATURAS</td>
          <td colspan="5">EVALUACION CUANTITATIVA</td>
          <td colspan="4">EVALUACION CUALITATIVA</td>
        </tr>
        <tr>
          <td>1er Bim</td>
          <td>2do Bim</td>
          <td>3er Bim</td>
          <td>4to Bim</td>
          <td>Prom</td>
          <td>1er Bimestre</td>
          <td>2do Bimestre</td>
          <td>3er Bimestre</td>
          <td>4to Bimestre</td>
        </tr>
        <tr>
          <td>COMUNICACION Y LENGUAJE</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>LENGUA EXTRANJERA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>CIENCIAS SOCIALES HIISTORIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>EDUCACION FISICA Y DEPORTES</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>EDUCACION MUSICAL</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ARTES PLASTICAS</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>MATEMATICA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>BIOLOGIA-GEOGRAFIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>FISICA - QUIMICA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>COSMOVISIONES, FILOSOFIAS Y SOCIOLOGIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>PSICOLOGIA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>VALORES, ESPIRITUALIDAD Y RELIGIONES</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>COMPUTACION</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>