<h3>
Inscripcion de estudiantes
</h3>
<div class="row">
    <form class="col s12" (ngSubmit)="save()">
      <div class="row">
        <div class="input-field col s6">
          <input id="firstName" type="text" class="validate" [(ngModel)]="user.firstName" name="fistName">
          <label for="first_name">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input id="lastName" type="text" class="validate" [(ngModel)]="user.lastName" name="lastName">
          <label for="last_name">Apellido</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="ru" type="text" class="validate" [(ngModel)]="user.ru" name="ru">
            <label for="ru">RU</label>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="tutor" type="text" class="validate" [(ngModel)]="user.tutor" name="tutor">
            <label for="tutor">Tutor</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [(ngModel)]="user.email" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="enviar" type="submit" value="Guardar">
        </div>
      </div>
    </form>
  </div>