<footer class="page-footer light-blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Colegio Santa Maria</h5>
        <p class="grey-text text-lighten-4">El colegio Santa Maria CENAFI es un centro privado concertado laico, gestionado por una cooperativa de profesores y profesoras, trabajadores en el Centro, que comenzó su andadura en el año 1968.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactenos</h5>
        <ul>
          <li>Estamos en:</li>
          <li>C/ Ballivian, 297</li>
          <li>La Paz</li>
          <li>Telefono: 22732499</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <img src="../../../assets/cc.png" href="https://creativecommons.org/licenses/?lang=es">
    </div>
  </div>
</footer>