<h3>Aca puede realizar su evaluacion</h3>
<table *ngFor="let curso of todo">
  <thead>
      <tr>
        <td colspan="5" class="center">{{curso.grado.toUpperCase()+" "+curso.nivel.toUpperCase()+" "+curso.paralelo}}</td>
      </tr>
      <tr>
        <td>Nombre</td>  
        <td>1er Bim</td>
        <td>2do Bim</td>
        <td>3er Bim</td>
        <td>4to Bim</td>
        <td></td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let estudiante of curso.estudiantes">
        <!-- <form action="save(estudiante, curso)"> -->
            <td>{{estudiante.firstName+" "+estudiante.lastName}}</td>
            <td><input type="text" value="{{estudiante.nota.primerbimestrecuantitativo}}" /></td>
            <td><input type="text" value="{{estudiante.nota.segundobimestrecuantitativo}}" /></td>
            <td><input type="text" value="{{estudiante.nota.tercerbimestrecuantitativo}}" /></td>
            <td><input type="text" value="{{estudiante.nota.cuartobimestrecuantitativo}}" /></td>
            <input type="submit" value="Guardar">
        <!-- </form> -->
      </tr>
  </tbody>
</table>