<h3>Aca puede realizar su evaluacion</h3>
<form>
<table *ngFor="let curso of cursos">
  <thead>
      <tr>
        <td colspan="5" class="center">{{curso.grado.toUpperCase()+" "+curso.nivel.toUpperCase()+" "+curso.paralelo}}</td>
      </tr>
      <tr>
        <td>Nombre</td>  
        <td>1er Bim</td>
        <td>2do Bim</td>
        <td>3er Bim</td>
        <td>4to Bim</td>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let estudiante of curso.estudiantes">
        <td>{{estudiante.firstName+" "+estudiante.lastName}}</td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
        <td><input type="text"/></td>
      </tr>
  </tbody>
  <a class="waves-effect waves-light btn-large" >Guardar</a>
</table>
</form>