<header>
  <div materialize class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <a href="#!" class="brand-logo"><img class="responsive-img" id="logo" src="../../../assets/logo.png"></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/presentacion">Presentacion</a></li>
            <li><a routerLink="/oferta">Oferta educativa</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  </header>